.container{
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin: auto;
    }
    h1{
        text-align: center;
    }
    button{
        width: 500px;
        height: 30px;
        margin: auto;
        background-color: aquamarine;
    }
}